/* ============================================== */
/* ====== DEFAULT STYLINGS */
/* ============================================== */

:root {
  --color-black: #0a0a0a;
  --color-white: #f5f5f5;

  --color-dark-white: #fafafa;
  --color-gray: #a8a8a8;
  --color-light-gray: #d1d1d1;
  --color-dark-gray: #303134;
  --color-darker-gray: #181818;

  --color-shaded-bg: #000000b3;

  --color-gray-100: #656565;
  --color-gray-200: #767676;
  --color-gray-300: #868686;
  --color-gray-400: #979797;
  --color-gray-500: #a8a8a8;
  --color-gray-600: #b1b1b1;
  --color-gray-700: #b9b9b9;
  --color-gray-800: #c2c2c2;
  --color-gray-900: #cbcbcb;

  --color-blue: #0095f6;
  --color-red: #ff3a40;

  --font-lg-3: 5.8rem;
  --font-lg-2: 5.5rem;
  --font-lg-1: 5rem;
  --font-md-3: 3.3rem;
  --font-md-2: 3rem;
  --font-md-1: 2.5rem;
  --font-sm-3: 1.8rem;
  --font-sm-2: 1.6rem;
  --font-sm-1: 1.3rem;
  --font-sm-0: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  overflow: hidden;
}

body {
  background-color: var(--color-black);
  font-family: "Poppins", sans-serif;
}

/* ============================================== */
/* ====== UTILITIES */
/* ============================================== */

.display-none {
  display: none !important;
}

.perr-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

/* ============================================== */
/* ====== INPUTS */
/* ============================================== */

input {
  font-family: inherit;
  border: none;
}

input:focus {
  outline: none;
}

/* ============================================== */
/* ====== LINKS */
/* ============================================== */

a {
  font-family: inherit;
  text-decoration: none;
}

/* ============================================== */
/* ====== BUTTONS */
/* ============================================== */

button {
  font-family: inherit;
  background: none;
  border: none;
}

::file-selector-button {
  font-family: inherit;
  border: none;
}

button:hover,
::file-selector-button:hover {
  cursor: pointer;
}

/* ============================================== */
/* ====== SCROLL STYLINGS */
/* ============================================== */

::-webkit-scrollbar {
  width: 1.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--color-darker-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-dark-gray);
}
